* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

.section1 {
  background-color: rgba(25, 0, 255, 0.808);
  height: fit-content;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px
}

.first {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.second {
  border-radius: 10px;
  color: white;
  background-color: rgba(127, 255, 249, 0.849);
  border: 0;
  width: 80px;
}

.third {
  color: aquamarine;
  margin-top: 40px;
  display: flex;
  align-content: center;
  font-size: 50px;
  /* padding-left: 180px; */

  /* gap: 10px; */
}

.p1 {
  color: white;
  margin-top: 20px;
  /* padding-left: 180px; */
}

.fourth {
  color: white;
  margin-top: 20px;
  background-color: rgba(75, 70, 121, 0.808);
  border: 1px solid rgba(255, 255, 255, 0.836);

  padding: 5px;
}

img {
  width: 200px;
  height: 100px;

}

.sixth {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 250px;
  justify-content: space-between;
}




.seventh {
  background-color: aliceblue;
  /* margin-top: 20px; */
  height: fit-content;
  padding-bottom: 50px;
}

.eight {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.nineth {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: underline;

}

.twelve {
  border: 1px solid blue;
}

.tenth {
  text-decoration: underline;
}

.eleventh {
  color: blue;
}

.thirteen {
  display: flex;
  background-color: white;
  justify-content: center;
  gap: 50px;

}

.fourteen {
  display: flex;
  justify-content: center;
  color: grey;
  margin-top: 40px;
  margin-bottom: 20px;


}

.fifteen {
  text-align: center;
  /* display: flex; */
  /* gap: 100px; */
}

.sixteen a {
  color: blue;
  text-align: center;
}

.seventeen {
  text-align: center;
}

.eighteen {
  text-align: center;
}

.nineteen {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  gap: 5%;
  padding: 50px;
  /* height: fit-content; */
}

.twenty {
  border-bottom: 1px solid grey;
  width: fit-content;
  margin: auto;
  padding-top: 5%;
  margin-bottom: 30px;
  color: white;
}

.twentyone {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.twentytwo {
  background-color: blue;
  height: fit-content;
}

.twentythree {
  background-color: white;
}

.twentyfour {
  color: aqua;
}

.twentyfive {
  padding-top: 5%;
  margin-bottom: 10%;
}

.twentysix {
  padding-bottom: 5%;
}

.twentyseven {
  background-color: black;
  color: white;
  padding: 5px;
  width: 30%;
  margin-bottom: 20px;
}

.meetteam {
  text-align: center;
  color: grey;
  border-bottom: 1px solid rgb(128, 128, 128);
  width: fit-content;
  margin: auto;
  padding-top: 5%;

}

.section5 {
  background-color: gainsboro;
  padding-bottom: 50px;
}

.meetteam2 {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

}

.meetteamname {
  text-align: center;
  color: blue;
  font-weight: 30px;
}

.meetteam3 {
  text-align: center;
  color: grey;
}

.section6 {
  background-color: white;
  padding-bottom: 50px;
}

.sourcep {
  text-align: center;
  color: grey;
  font-weight: 50px;
  border-bottom: 1px solid gray;
  width: fit-content;
  margin: auto;
  padding-top: 50px;

}

.flag {
  text-align: center;
  padding-top: 20px;
  color: grey;
}

.opensource {
  text-align: center;
}

.opensource2 {
  font-size: 60px;
  color: rgba(0, 0, 0, 0.932);
  margin-bottom: 20px;
}
.openbutton{
  padding: 10px;
  color:black;
  font-weight: 20px;
  border-color: aliceblue;
}

ul li a{
  
}

.lastsession{
  background-color: blue;
  padding-bottom: 100px;
  /* height: fit-content; */
}
.lastgen{
  display: flex;
  justify-content: center;
  gap: 10%;
  
}
.ul{
list-style-type: none;
/* margin-bottom: 50px; */

}
.lastgen3{
  color: white;
  margin-top: 50px;
}









/* media querry */
@media (max-width: 768px) {
  .sixth {
    display: block;

  }

  img {
    width: 80%;
    height: 50%;

    .twentythree {
      border: 1px solid white;
      height: fit-content;
      background-color: white;

    }

    margin-top: 100px;

  }

  .third {
    font-size: 30px;
  }

  nav {
    display: block;

  }

  .first {
    display: block;

  }

  .section1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .thirteen {
    display: block;
    text-align: center;
  }

  .nineteen {
    display: block;
    justify-content: center;
    text-align: center;
    color: black;
    /* gap: 5%; */
    /* margin-bottom: 50px; */

  }

  .twentythree {
    background-color: white;
    margin: 50px;
  }

  .meetteam2 {
    display: block;
    gap: 20px;
  }

}